Wk_01/DEZ-2024-Homeworks.code-workspace
Workshop_1\dlt_ipykernel_launcher.duckdb
Workshop_1\dlt_ipykernel_launcher.duckdb.wal
Workshop_1/dlt_ipykernel_launcher.duckdb
Workshop_1/dlt_ipykernel_launcher.duckdb.wal
